@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary-font:'Poppins', sans-serif;
$primary-color:#233143;
$secondary-color:#4F5A69;
$bg-color:#F0F2F5;
$white-color:#FFFFFF;
$border-color:#CED1D7;
$regular-font:400;
$medium-font:500;
$semibold-font:600;
$size-24:1.5rem;
$size-18:1.125rem;
$size-16:1rem;
$size-14:0.875rem;


