.summary{

    border-radius:  0px 0px 8px 8px;
    box-shadow: 0px 5px 10px #8B9AAB33;


    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        @media(max-width:480px) {
            padding: 15px;
            
        }

        &:nth-child(2){
            padding-top: 30px;
        }

        &:nth-child(4){
            padding-bottom: 30px;
        }

        &:nth-child(5){
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }

        &:nth-child(6){
            padding: 30px;

        }

        .text, .value{
            font-size: $size-18;
            color: $primary-color;
            font-weight: $medium-font;
        }

        &.bgcolor{
            background-color: $secondary-color;
            padding: 15px 30px;
            border-radius: 8px 8px 0px 0px;
            @media(max-width:480px) {
                padding: 15px;
                
            }

            .text{
                color: $white-color;
            }

            .value{
                color: $white-color;
                font-size: 2.5rem;
            }

        }

        &.total{
            .text, .value{
                font-weight: $semibold-font;
            }
        }

        &.comp-btn{
            border-radius:  0px 0px 8px 8px;
        #submit{
            border-radius: 4px;
            background-color:#338FFF ;
            font-size: $size-14;
            font-weight: $medium-font;
            text-align: center;
            color: $white-color;
            border: 0;
            padding: 10px 20px;
            width: 100%;
            cursor: pointer;

            &:hover{

                background-color:rgba(#338FFF, 0.7) ;
                
            }

            @media(max-width:1200px) {
                max-width: 412px;
                margin: auto;
            }
            
        }

        
    }
        
    }

  

}