*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

body, html{
    font-family: $primary-font;
    background-color: $bg-color;
    @media(max-width: 480px) {
    
        font-size: 14px;
    
    }
}

.container{
    max-width: 1585px;
    margin: auto;

    @media(max-width:1585px) {
        margin: 0 30px;
    }
    @media(max-width:480px) {
        margin: 0 15px;
    }
}

.main.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 50px;
    @media(max-width:1200px) {
        flex-direction: column;
        
    }
}

a{
    text-decoration: none;
}

.col{

    &.order{
        max-width: 1098px;
        @media(max-width:1400px) {
            flex: 5;
        }
        @media(max-width:1200px) {
            flex: 1;
            max-width: 100%;
            margin-bottom: 25px;
        }
    }

    &.sumry{
        width: 473px;
        margin-left: 15px ;
        @media(max-width:1400px) {
            flex: 2;
        }
        @media(max-width:1200px) {
            flex: 1;
            width: 100%;
            margin-left: 0px;
        }
        

    }
    

    h2{
       font-size: $size-24;
        color: $primary-color;
        font-weight: $semibold-font;
        margin-bottom: 25px;
    }
}

.section{
    background-color: $white-color;
}

.title{
    font-size: $size-18;
    color: $primary-color;
    font-weight: $medium-font;
}

.para{
    font-size: $size-16;
    color: $secondary-color;
    font-weight: $regular-font;
    line-height: 24px;
}


.check-out{
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #8B9AAB33;
}

.input-name{
    color: $primary-color;
    font-size: $size-14;
    font-weight: $medium-font;
    margin-bottom: 5px;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder{
    color:#8C9BAC;
}

input:focus-visible, select:focus-visible{
    outline: 2px solid #4F5A69;
    box-shadow: #4F5A69;
}